<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
</head>

<body>
    <h1>Index Page</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h1>{{message}}</h1>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h3>Create a User</h3>
    <form action='/users' method='post'>
        Name: <input type='text' name='name'>
        Email: <input type='text' name='email'>
        Language:
        <select name="language" id="">
            <option value="C">C</option>
            <option value="C++">C++</option>
            <option value="C#">C#</option>
        </select>
        <input type='submit' value='create user'>
    </form>
</body>

</html>