<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email validatoor</title>
</head>

<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <h1>{{message}}</h1>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Enter an email NUMBER to check :)</h1>
    <form action="/process" method="POST">
        <p> Email: <input type="text" name="email"></p>
        <input type="submit" value="Add email">
    </form>
    <hr>
    <h1>Check out our registered valid emails</h1>
    {% for one_email in all_emails %}
        <p>Email:   {{one_email["email"]}}</p>
    <hr>
    {% endfor %}
</body>

</html>